


<%= form_tag("/users") do %>

  <div> 
  <%= label_tag :username, "Username:" %><br>
  <%= text_field_tag "user[username]" %>
  </div>

  <div>
  <%= label_tag :email, "Email:" %><br>
  <%= email_field_tag "user[email]" %>
  </div>
  
  <div>
  <%= label_tag :password, "Password:" %><br>
  <%= password_field_tag "user[password]" %>
</div>

<div>
<%= submit_tag "Submit" %>
</div>


  <% end %>